.sidebar {
  background: #eee;
  margin: 8px;
  padding: 8px;
  width: calc(100% - 16px);
  border-radius: 8px;
  @include sideintro;
  
  //breakpoint
  @include md {
    margin-top: 62px;
    border: 1px solid $border-grey;
    width: 33.33%;
  }

  > div {
    clear: both;

    span {
      clear: both;
      width: 100%;
      display: inline-block;
    }
  }

  .title {
    color: $navy-blue;
  }

  .data {
    font-size: 12px;
    margin-bottom: 16px;
  }
}