@import 'base/vars';
@import 'base/mixins';
@import 'base/animations';
@import 'components/header';
@import 'components/form';
@import 'components/sidebar';
@import 'components/footer';

*, body, html {
  font-family: arial;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}
